{% extends 'layout.html' %}
{% block title %}
    <title>Main Page</title>
    <style>
        p {font-size: xx-large; font-style: italic; }
        .container img {
          height: 100%;
          width: 100%;
        }
    </style>
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>You're Welcome</h1>
        <hr>
        <h2>
            <p>Welcome to our vibrant community of singles, where connections blossom and sparks fly!</p>
            <p>Whether you're here to find your perfect match, forge new friendships,</p>
            <p>or simply embrace the adventure of meeting new people, you've come to the right place.</p>
            <p>Join us in exploring the exciting journey of love, laughter, and endless possibilities. </p>
            <p>Let your heart lead the way as you embark on this thrilling voyage of discovery. Welcome aboard!</p>
            <p>Sincerely,</p>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="container">
                        <img src="/static/img/heart.png" style="flex">
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </h2>
    </div>
{% endblock content %}