{% extends 'layout.html' %}

{% block title %}
    <title>My Profile</title>
{% endblock title %}

{% block content %}
        <div class="container" style="padding: 25px">
            <br>
            <form method="POST">
                <div class="form-group">
                    <h3>Now you can expand information about :></h3>
                    <label for="about_you">About you:</label>
                    <textarea class="form-control" id="about_you" name="about_you">{{ user.user_bio }}</textarea>
                    <label for="private">Private:</label>
                    <textarea class="form-control" id="private" name="private">{{ user.user_private }}</textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            <br>
             {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="container alert alert-info">
                  <h3>{{ messages[0] }}</h3>
                </div>
              {% endif %}
            {% endwith %}
        </div>
{% endblock content %}