{% extends 'layout.html' %}
{% set show_footer = false %}
{% block title %}
    <title>Search</title>
{% endblock title %}

{% block content %}
    <div class="container" style="padding: 25px">
        <h1>Search Page</h1>
        <form method="GET" action="{{ url_for('main.search_profiles') }}">
            <div class="form-group">
                <label for="search_query">Search:</label>
                <input type="text" class="form-control" id="search_query" name="k" placeholder="Enter keyword">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
            {% for user in users %}
                <hr>
                <div class="col">
                    <div class="col">Username: {{ user.user_name }}</div>
                    <div class="col">About: {{ user.user_bio }}</div>
                    <a href="{{ url_for('main.user_profile', user_id=user.id) }}" class="btn btn-info" role="button">Invite</a>
                </div>
            {% endfor %}
            <div class="container ftr">
                    <hr>
                    <p class="text-center small"> Course Lab 2024 </p>
            </div>
    </div>
{% endblock content %}